
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This  is the Game Home page</h2>

Minesweeper Application <br />
Designed by<br />
Michael Weaver <br />
Mark Piland<br />
Fredrick Ondieki