@model RegistrationAndLogin.Models.Difficulty

@{
    ViewBag.Title = "DifficultySelection";
}

<h2>Welcome to the Game Difficulty Selection Page</h2>
<h4>Please Select the Game Level that you want to Play</h4>
@using (Html.BeginForm("GameDisplay", "Game"))
{
    @Html.RadioButtonFor(d => d.GameDifficulty, 1)<span> : Easy</span>
    <br />
    @Html.RadioButtonFor(d => d.GameDifficulty, 2)<span> : Medium</span>
    <br />
    @Html.RadioButtonFor(d => d.GameDifficulty, 3)<span> : Hard</span>
    <br />
    <input type = "submit" value = "Play Game" />
}