@model RegistrationAndLogin.Models.GameBoard

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Game Board Display</h2>

<div class="container" style="margin-top: 2%;">

    @for (var Row = 0; Row < Model.BoardSize; Row++)
    {
        <div class="hidden-xs col-lg-3"></div>
        <div class="row">
            <div class="col-xs-12">
                @for (var Col = 0; Col < Model.BoardSize; Col++)
                {
                    var Cell = Model.GameCells[Row, Col];
                    var Value = " ";

                    if (Cell.Flagged && !Cell.IsVisited)
                    {
                        Value = "F";
                    }
                    else if (Cell.IsLive && Cell.IsVisited)
                    {
                        Value = "*";
                    }
                    else if (Cell.IsVisited)
                    {
                        Value = Cell.Neighbors.ToString();
                    }

                    <input type="button"
                           runat="server"
                           value="@Value"
                           OnClientClick="return false"
                           oncontextmenu="return false"
                           width="25"
                           height="25" />


                }

            </div>
        </div>
    }

</div>

<div>
    <ul>
        <li>@Html.ActionLink("Save Game State", "SaveGameState","Game")</li>
        <li>@Html.ActionLink("Take Turn", "CellSelection", @Model)</li>
    </ul>
</div>

<script type="text/javascript">
    function LeftClick(cell) {
        cell.IsVisited = true;
        Response.Redirect("~/GameDisplay.cshtml");
    }
    function RightClick(cell) {
        if (!cell.IsVisited) {
            cell.Flagged = true;
        }
        Response.Redirect("~/GameDisplay.cshtml");

    }

</script>