@* ctrl + K + D to format entire document *@

@model RegistrationAndLogin.Models.GameBoard

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Game Board Display</h2>

<div id="menuButtons">
    <form>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"
                       onclick=""
                       value="Create New Game"
                       id="newGameButton"
                       style="width: 200px; height: 50px; "
                       class="btn btn-default" />

                <input type="submit"
                       onclick="SaveGameBoard(@Model)"
                       value="Save Game"
                       id="saveGameButton"
                       style="width: 200px; height: 50px; "
                       class="btn btn-default" />

                <input type="submit"
                       onclick=""
                       value="Load Saved Game"
                       id="loadGameButton"
                       style="width: 200px; height: 50px; "
                       class="btn btn-default" />
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                </div>
            </div>*@
        <br />
    </form>
</div>

<div class="container" style="margin-top: 2%;">

    <form id="gameBoard">

        @for (var Row = 0; Row < Model.BoardSize; Row++)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @for (var Col = 0; Col < Model.BoardSize; Col++)
                    {
                        var Cell = Model.GameCells[Row, Col];
                        var Value = " ";

                        <input type="submit"
                               value="@Value"
                               onclick="LeftClick(@Cell, this);"
                               oncontextmenu="RightClick(@Cell, this);"
                               class="btn btn-default"
                               style="width: 25px; height: 25px; " />
                    }


                </div>
            </div>
        }
    </form>

</div>

<script type="text/javascript">
    function LeftClick(cell, button) {
        cell.IsVisited = true;
        if (cell.IsLive) {
            button.text = "*";
        }
        else {
            button.text = cell.Neighbors;
        }
    }
    function RightClick(cell, button) {
        if (!cell.IsVisited) {
            if (!cell.Flagged) {
                cell.Flagged = true;
                button.text = "F";
            }
            else {
                cell.Flagged = false;
                button.text = "";
            }
        }
    }
    function CreateNewGame() {

    }
    function SaveGameBoard(gameBoard) {
        var data = $(gameBoard).serialize();

        $.ajax({
            type: "POST",
            url: "/GameController/GameDisplay",
            datatype: "",
            data: "",
            success: function (data) {
                $("#gameBoard").html(data);
            }
            error: function (data) {
                alert("Call was unsucessful " + data)
            }

        });
    }
    function LoadSavedGame() {

        //Save Select

        $.ajax({
            type: "GET",
            url: "/GameController/GameDisplay",
            datatype: "text",
            data: {id: value},
            success: function (data) {
                $("#gameBoard").html(data);
            }
            error: function (data) {
                alert("Call was unsucessful " + data)
            }

        });
    }
    function ajaxCall() {
        //var data = $("#menuButtons").serialize();

        $.ajax({
            type: "POST",
            url: "/GameController/GameDisplay",
            datatype: "",
            data: "",
            success: function (data) {
                $("#gameBoard").html(data);
            }
            error: function (data) {
                alert("Call was unsucessful " + data)
            }

        });

    }
</script>